<!DOCTYPE html>
<html>
<title>BB Code Reader </title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<style> 
textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    background-color: #f2f2f2;
    font-size: 12px;
    
}

p {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    background-color: #f2f2f2;
    font-size: 12px;
    
}


</style>
<div ng-app="myApp" ng-controller="myCtrl">
<h1 style="color:red;"><mark>Notice: This page is not designed for public use. Feel free to look around, but features are not going to be fully fuctional.</mark></h1>
<h2> BB Code Reader</h2>
<h3>Text</h3>

<form>

  <input type="radio" ng-model="myVar" value="Format">Format
  <input type="radio" ng-model="myVar" value="Insert">Insert
  <input type="radio" ng-model="myVar" value="Scratch">Scratch
</form>

<div ng-switch="myVar">
  <div ng-switch-when="Format">
     <button class="button"><b>B</b></button><button class="button"><u>U</u></Button><button class="button"><i>I</i></Button><button class="button"><del>S</del></Button><button class="button"><mark>M</mark></Button>
  </div>
  <div ng-switch-when="Insert">
   <button class="button"><b>Flash</b></button><button class="button"><b>IP</b></button><button class="button"><b>[/]</b></button>
     
  </div>
  <div ng-switch-when="Scratch">
      <button class="button"><b>Scratch Blocks</b></button><button class="button"><b>Wiki link</b></button>
  </div>
</div>

<form>
  <textarea ng-model="bbcode">Example... </textarea>
</form>

<h3> BB code </h3>
<p>{{bbcode}}</p>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.bbcode= "Example...";
   
});
</script>

</body> 
</html>
